
.enlace{
    position: relative;
    color:black;
    transition-duration: color 0.3s ease-in, text-decoration-color 0.3s ease-in;
    text-decoration: none;
}

.enlace::after {
    content: ""; 
    position: absolute;
    left: 0;
    width: 0%; 
    height: 2px; 
    background-color: black;
    transition: width 0.5s ease-in-out; 
}

.enlace.active::after {
    width: 100%; 
}



.enlace.active{
  color:black;
  
}