body{
    background-image: url("https://img.freepik.com/foto-gratis/vista-al-mar-agua_23-2149066236.jpg?t=st=1735926073~exp=1735929673~hmac=6e9e92d67782d51a80d9fdacc5c39fa05a9676e9d82caaa117da92cd3f432a4e&w=826");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(228, 252, 9, 0.725);
    position: absolute;
   z-index: 100;
  overflow: hidden;
}

.navbar{
    margin-top: 20px;
}
.navbar a{
 
    font-size: 1rem;
    color: white;
    line-height: 1rem;
}

.container_title{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('https://img.freepik.com/foto-gratis/hermoso-monumento-rocoso-imagen-tallada-rostro-humano-selva-vista-primer-plano_613910-21517.jpg?t=st=1735929176~exp=1735932776~hmac=fd9623bb1ca7f9b319b26938d39bd75f272ef01794734e354d6b7f84160f041c&w=826');
   -webkit-text-stroke-color: aquamarine;
    -webkit-text-fill-color:transparent;
    background-clip: text;
    filter: drop-shadow(30px 10px 4px #44d5dd5d);
                
}

.title{
    font-size:10rem
  
}
