

.container_title{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('https://img.freepik.com/foto-gratis/hermoso-monumento-rocoso-imagen-tallada-rostro-humano-selva-vista-primer-plano_613910-21517.jpg?t=st=1735929176~exp=1735932776~hmac=fd9623bb1ca7f9b319b26938d39bd75f272ef01794734e354d6b7f84160f041c&w=826');
   -webkit-text-stroke-color: aquamarine;
    -webkit-text-fill-color:transparent;
    background-clip: text;
    filter: drop-shadow(30px 10px 4px #44d5dd5d);
                
}

.title{
    font-size:10rem
  
}
