

.container_title{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('https://images.pexels.com/photos/6942667/pexels-photo-6942667.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load');
   -webkit-text-stroke-color: rgb(221, 246, 251);
    -webkit-text-fill-color:transparent;
    background-clip: text;
    filter: drop-shadow(30px 10px 4px #f9f2f65d);
     
}
.container-pirámide{
    background-image: url("piramide2.png");
}

.sectionExpo{
    background-repeat: no-repeat;
    background-image: url("https://images.pexels.com/photos/15062516/pexels-photo-15062516/free-photo-of-arte-estatua-iglesia-escultura.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    object-position: bottom;
}

.enlace{
    position: relative;
    color:black;
    transition-duration: color 0.3s ease-in, text-decoration-color 0.3s ease-in;
    text-decoration: none;
}

.enlace::after {
    content: ""; 
    position: absolute;
    left: 0;
    width: 0%; 
    height: 2px; 
    background-color: black;
    transition: width 0.5s ease-in-out; 
}

.enlace.active::after {
    width: 100%; 
}



.enlace.active{
  color:black;
  
}


