@media (min-width:320px) {
    header {
        width: 100%;
    }

    .nav {
        display: block;
        background: #f3f4f4;
        padding: 14px;
        gap: 10px;
        align-items: center;

    }

    .logo {
        width: 47%;
        height: 47%;
        border: 2px solid #95F9E3;
        border-radius: 50%;

    }

    .contenedor-subs-nav{
        display: flex;
        font-size:1.3rem;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    .contenedor-nav h3{
        width: 220px;
        padding: 8px;
        font-size: 0.8rem;
        text-align: center;
        border-radius: 20px;
      
    }

    #map{
        width: 100%;
        height: 100vh;
    }


}

@media (min-width:481px) {}

@media(min-width: 641px) {
    .logo {
        width: 27%;
        height: 27%;
        border: 2px solid #95F9E3;
        border-radius: 50%;

    }

}

@media(min-width: 1025px) {
    .logo {
        width: 12%;
        height: 12%;
        border: 2px solid #95F9E3;
        border-radius: 50%;

    }

    .nav {
        display: flex;
        background: #f3f4f4;
        padding: 14px;
        gap: 10px;
        align-items: center;


    }

    .contenedor-nav{
        display: flex;
      
        gap:20px;
        align-items: center;
    }
            
    .contenedor-nav h3{
        width: 200px;
        padding: 8px;
        font-size: 1.1rem;
        text-align: center;
        border-radius: 20px;
      
    }
   
}