* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}



#map {
    width: 100%;
    height: 774px;
}



.title_destino {
    padding: 7px;
    margin-bottom: 10px;
    background-color: #dc9a92;
}

.descripcion_destino {
    font-size: 1rem;
}


.maplibregl-legend-list {
    font-size: 1.3rem;
    padding: 20px;
    margin-top: 30px;
}

.maplibregl-legend-title-label {
    font-size: 1.4rem;



    border-bottom: 2px solid black;
}

.maplibregl-legend-onlyRendered-label {
    font-size: 1.3rem;


}

.maplibregl-legend-onlyRendered-checkbox {
    margin-top: 20px;
}